
.text {
    width: 200px;
    margin: 20px auto
}

.buttonList {
    list-style-type: none;
}

.buttons {
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    background-color: pink;
}

.buttons:hover {
    background-color: fuchsia;
}